body{
	font-family: 'Inter', sans-serif;
	margin: 0;
    background-color: #313438;
   
}



.header{
	display: block;
    max-width: 100%;
	justify-content: space-evenly;
	color: #fff;
	background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
	padding-top: 100px;
    padding-bottom: 10px;
	
}

.lable{
    color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
}

form, label, p {
    color: white !important;
}



